<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentDetailsServlets</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Demo</servlet-name>
    <servlet-class>servlets</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Demo</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Edit</display-name>
    <servlet-name>Edit</servlet-name>
    <servlet-class>Edit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Edit</servlet-name>
    <url-pattern>/Edit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Display</display-name>
    <servlet-name>Display</servlet-name>
    <servlet-class>Display</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Display</servlet-name>
    <url-pattern>/Display</url-pattern>
  </servlet-mapping>
</web-app>